@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

button {
   cursor: pointer;
}

.button-button:hover {
   background: #000000;
   color: #ffffff;
}

img {
   cursor: pointer;
}

.arrow-arrow:hover {
   box-shadow: 1px 1px 2px black, 0 0 1em red;
}

.header {
   margin: 0 auto;
   width: 100vw;
   height: 74px;
   background-color: #D21E18;
   text-transform: uppercase;
   position: fixed;
   z-index: 1000;
}

.menu {
   max-width: 75rem;
   margin: 0 auto;
   
}

.header-items {
   display: flex;
   justify-content: space-between;
   color: #ffffff;
   list-style-type: none;
}

.list-item {
   margin-top: 26px;
}

.list-item-logo {
   margin-top: 12px;
}

.list-link {
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
}

.banner-block {
   margin: 0 auto;
   /* height: 600px; */
   /* /* display:block; */
   /* width:100%; */
   /* height: auto; */
}

.button-arrows {
   display: flex;
}

.button-arrow {
   position: absolute;
   width: 42px;
   height: 42px;
   border-radius: 100%;
   background: #ffffff;
   border: none;
   margin-top: 319px;
}

.button-arrow__left{
   margin-left: 2%;
}

.button-arrow__right {
   margin-left: 96%;
}

.banner-img {
   width: 100%;
}

.new-block {
   margin: 0 auto;
   height: 700px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
}

.content-new-block {
   margin-top: 45px;
   text-align: center;
}

.h2 {
   font-size: 36px;
   line-height: 37px;
}

.underline {
   margin-top: 5px;
}

.button-arrows__new {
   display: flex;
}

.button-arrow__new {
   position: absolute;
   width: 42px;
   height: 42px;
   border-radius: 100%;
   background: #ffffff;
   border: none;
   /* box-shadow: 1px 1px 2px black, 0 0 1em red; */
}

.button-arrow-left__new {
   margin-top: 250px;
   margin-left: 18%;
}

.button-arrow-right__new {
   margin-top: 250px;
   margin-left: 80%;
}

.new-items {
   margin-top: 49px;
   display: flex;
   justify-content: center;
}

.new-item {
   width: 304px;
   text-align: center;
}

.new-title {
   margin-top: 29px;
   font-size: 16px;
   line-height: 17px;
}

.name-goods {
   font-size: 24px;
   margin-top: 3px;
   line-height: 29px;
}

.button-more {
   margin-top: 21px;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 35px;
   width: 148px;
   height: 49px;
   background-color: #ffffff;
}

.hits-block {
   margin: 0 auto;
   height: 1000px;
   background: #EFEFF1;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
}

.title-hits-block {
   padding-top: 15px;
   text-align: center;
}

.main-hit {
   align-items: center;
   display: flex;
}

.main-hit-red {
   position: absolute;
   width: 310px;
   height: 148px;
   /* left: 433px; */
   margin-left: 30%;
   margin-top: 130px;
   background: #D21E18;
   color: #ffffff;
}

.hit-title {
   margin-left: 16px;
   margin-top: 18px;
   font-size: 14px;
   line-height: 17px; 
}

.hit-goods-text {
   font-size: 24px;
   line-height: 29px;
}

.hit-button-more {
   margin-top: 14px;
   margin-left: 16px;
   border: 1px solid #ffffff;
   box-sizing: border-box;
   border-radius: 35px;
   width: 148px;
   height: 49px;
   background-color: #D21E18;
   color: #ffffff;
}

.main-hit-img {
   margin-top: 32px;
   /* margin-left: 649px; */
   margin-left: 40%;
}

.hit-items {
   margin-top: 15px;
   display: flex;
   justify-content: center;
   padding: 5px;
}

.button-arrows__hit {
   width: 100%;
   position: absolute;
   display: flex;
   justify-content: space-between;
}

.button-arrow__hit {
   /* position: absolute; */
   width: 42px;
   height: 42px;
   border-radius: 100%;
   background: #ffffff;
   border: none;
   /* box-shadow: 1px 1px 2px black, 0 0 1em red; */
}

.button-arrow-left__hit {
   /* position: absolute; */
   margin-top: 200px;
   margin-left: 13%;
}

.button-arrow-right__hit {
   /* position: absolute; */
   margin-top: 200px;
   margin-left: 85%;
}

.hit-item {
   margin: 5px;
   background: #ffffff;
   text-align: center;
}

.button-more-hit {
   margin-top: 15px;
   margin-bottom: 24px;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 35px;
   width: 148px;
   height: 49px;
   background-color: #ffffff;
}

.insta-block {
   margin: 0 auto;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
}

.insta-title {
   display: flex;
   justify-content: center;
   margin-top: 15px;
}

.insta-title-text {
   margin-top: 35px;
}

.insta-items {
   display: flex;
   justify-content: center;
   padding: 5px;
}

.insta-item {
   margin: 5px;
}

.makeup-block {
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 36px;
   line-height: 37px;
}

.content-makeup-block{
   margin-top: 50px;
   text-align: center;
}

.makeup-items{
   display: flex;
   justify-content: center;
   padding: 5px;
   margin-top: 17px;
}

.main-makeup-item {
   margin-top: 26px;
   display: flex;
   justify-content: center;
}

.main-makeup-red {
   position: absolute;
   width: 318px;
   height: 148px;
   /* left: 1185px; */
   margin-right: -35%;
   margin-top: 145px;
   background: #D21E18;
   border-radius: 30px;
}

.main-makeup-red-content {
   margin-top: 17px;
   margin-left: 25px;
}

.makeup-title {
   color: #ffffff;
   font-size: 14px;
   line-height: 17px;
}

.underline-makeup {
   margin-bottom: 20px;
}

.makeup-goods-text {
   font-size: 24px;
   line-height: 29px;
}

.makeup-button-more{
   margin-top: 15px;
   width: 148px;
   height: 49px;
   border: 1px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 35px;
   background-color: #D21E18;
   color: #ffffff;
}

.main-makeup-img {
   /* margin-left: 342px; */
   margin-left: -15%;
}

.makeup-item {
   width: 304px;
   margin: 5px;
}

.makeup-text-button {
   margin-left: 15%;
}

.makeup-item-title {
   font-size: 14px;
   line-height: 17px;
}

.footer{
   margin-top: 20px;
   height: 320px;
   background-color: #000000;
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   display: flex;
   justify-content: center;
   align-items: middle;
}

.contacts {
   padding-top: 28px;
   margin-left: 332px;
   padding-right: 50px;
   width: calc(100% / 3);
}

.social {
   display: flex;
   margin: 5px;
   list-style-type: none;
   justify-content: start;
}

.social {
   margin: 15px;
}

.footer-social {
   padding: 5px;
}

.footer-text {
   font-size: 16px;
   margin-top: 16px;
}

.links {
   padding-right: 50px;
   margin-top: 28px;
   line-height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-items{
   list-style-type: none;
}

.diploma {
   padding-top: 28px;
   /* padding-left: 50px; */
   display: flex;
   align-items: center;
   justify-content: center;
}